.SideBar {
    float: left;
    width: 15%;
    overflow: hidden;
    height: 100%;
    background-color: grey;
    color: whitesmoke;

}

.one {
    margin-bottom: 20px;
    padding: 0;
    overflow: hidden;
}
.ListGroupItem {
    background-color: #464646;
    color: white !important;
    border: 0;
    border-radius: 0;
}

.ListGroupItem:hover{
    background-color: #ccc;
    color: black !important;
}

.first {
    width: 100%;
    font-size: 28px;

    background-color: grey;
    /*margin: 10px;*/
    cursor: pointer;
    text-align: center;
    position: relative;
    z-index: 100;
}

.itemsShow {

    animation: show 0.2s linear;
    margin-bottom: 0;
}

.itemsDisappear {
    display: none;
    /*animation: disappear 0.2s linear;*/
}

@keyframes show {
    from {transform: translateY(-100px)}
    to {transform: translateY(0px)}
}

@keyframes disappear {
    from {transform: translateY(0px)}
    to {transform: translateY(-1000px)}
}